.transparent-button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: 2px solid transparent;
  transition: transform 250ms;

  &--scale {
    &:hover {
      transform: scale(1.1);

      &:disabled {
        transform: none;
      }
    }
  }

  &--sepia {
    &:hover {
      filter: sepia(100%);

      &:disabled {
        filter: grayscale(0.9);
      }
    }
  }

  &--active {
    border: 2px solid get-color('white');
  }

  &:disabled {
    filter: grayscale(0.9);
    cursor: not-allowed;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.button-selectors-container {
  margin: auto;
  justify-content: center;
  align-items: center;
  padding: get-unit(10 0);

  &--condensed {
    background: get-color('blue', 8, 0.45);
    max-width: 100vw;
    overflow-x: auto;
    width: 100%;
    padding: get-unit(2 10);
  }
}

.game-image-button {
  width: clamp(300px, 60vw, 500px);
  border-radius: $border-radius;

  &--condensed {
    width: clamp(50px, 30vw, 150px);
    padding: get-unit(1);
  }

  &__image {
    width: 100%;
    border-radius: $border-radius;
  }
}
