.s-item {
  background: get-color('brown', 1);
  padding: get-unit(2 6);
  border-radius: $border-radius;
  display: grid;
  place-items: center;

  &__name {
    text-transform: uppercase;
    // font-size: 3rem;
    text-align: center;
    max-width: 90vw;
    margin-bottom: 0;
    font-family: monospace;
  }
}

.s-controls {
  min-width: 96vw;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  margin: get-unit(2 0 10);
  gap: get-unit(4);
  align-items: stretch;

  &__button {
    border-radius: $border-radius;
    font-size: 1.5em;
    cursor: pointer;
    transition: background 0.3s;
    display: grid;
    place-items: center;

    &:hover {
      background: get-color('brown', 3);
    }

    &--incorrect {
      background: #938493;
      border-color: #5a4c5a;
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      padding: get-unit(6);

      &:hover {
        background: #5a4c5a;
      }
    }

    &--correct {
      background: #8479c2;
      border-color: #524985;
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      padding: get-unit(6);

      &:hover {
        background: #524985;
      }
    }

    &--skip {
      background: #f07281;
      border-color: #b84d5c;
      grid-column: 1 / 3;
      grid-row: 3 / 4;
      padding: get-unit(2);

      &:hover {
        background: #b84d5c;
      }
    }
  }

  &__count {
    font-weight: bold;
    font-size: 3rem;
  }
}

.s-recollection {
  &__item {
    max-width: 48vw;
    display: block;
    position: relative;
    background: get-color('white', 1, 0.35);
    border-radius: $border-radius;
  }

  &__check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;

    &:hover {
      transform: translate(-50%, -50%) scale(1.25);
    }
  }

  &__name {
    text-align: left;
    font-size: 1.5em;
    // text-overflow: break-word;
    text-wrap: wrap;
  }
}

.sonhinho-results {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr;
  gap: get-unit(4);
  padding: get-unit(4);

  // place-items: center;
}

.sonhinho-result {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: get-unit(4);
  padding: get-unit(1);

  &__title {
    font-size: 1.5em;
    font-weight: bold;
    color: get-color('white');
    padding: get-unit(1);
    border-radius: $border-radius;

    &--fairies {
      background: #8479c2;
    }

    &--boogeymen {
      background: #938493;
    }

    &--sandmen {
      background: #f0c981;
    }

    &--dreamer {
      background: #e7a2cb;
    }

    &--skips {
      background: #f07281;
      grid-column: 1 / 3;
    }
  }

  &__list {
    border-radius: $border-radius;
    padding: get-unit(2);
    margin: get-unit(1);
  }

  &__score {
    font-size: 1.5em;
    display: grid;
    place-items: center;

    font-weight: bold;
    width: 100%;
    color: get-color('white');
    padding: get-unit(1);
    border-radius: $border-radius;
    height: 100%;
  }

  &__skips {
    grid-column: 1 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: get-unit(2);
    padding: get-unit(1);
    border-radius: $border-radius;
  }
}
